body{
  font-family: 'Merienda', cursive;
}
#section1{
  position: relative;
  height: 670px;
  background-size: cover;
  background-image: url("../img/h_img.jpg");
  background-repeat: no-repeat;
  text-align: center;
  text-shadow: 2px 2px 2px;
  color: white;
}


#section2{
  height: 314px;
  background-color: white;
  color: black;
  text-align: center;
}

#section3{
  height:  314px;
  background-image: url("../img/s_image.jpg");
  text-align: center;
  color: white;
}



#section4{
  height:  auto;
  color: black;
  text-align: center;
}

#section5{
  height: 500px;
  background-image: url("../img/c_image.jpg");
  background-size: cover;
  text-align: center;
  color: white;
}

#section6{
  height: auto;
  text-align: center;
}

textarea,input[type=text]{
  background: transparent;
  border-color: white;
  border-style: solid;
}

::placeholder{
  color: white
}

h4{
  font-weight: bold;
}
